<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity3"></activity>
        <activity android:name=".Activi2">
            <intent-filter>
                //加入intent标签使activi2可以被带有如下action和catagory的intent启动

                <data android:scheme ="https"/>
                //协议部分
                <data android:host="www.baidu.com" />

                //主机名
                <action android:name="com.example.activity.ACTION_START" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="come.example.activity.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>